.AboutUsHeader {
  z-index: 1;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  width: 90%;
  margin-left: 2%;
  border-radius: 25px;
  background: url(../Assets/AboutUsHeader.png) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 24.9px 0px rgba(0, 0, 0, 0.5);
}
.AboutUsHeader .link {
  color: #e2e2e2;
  font-family: 'TT Chocolates';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 2%;
  padding-left: 3%;
}
.AboutUsHeader .header-content {
  padding-top: 6%;
  margin-left: 45%;
  padding-bottom: 2rem;
  width: 50%;
}
.heading-about {
  color: #e2e2e2;
  font-family: Joane;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-heading {
  color: #d3d3d3;
  font-family: 'TT Chocolates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sub-heading-content {
  position: fixed;
  z-index: 99;
  margin-top: -10%;
  width: 20%;
  display: block;
  margin-left: 4%;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 4px 23.6px 0px rgba(0, 0, 0, 0.5);
}
.line-heading {
  width: 1%;
  border-radius: 3.5px;
  background: #009889;
}
.sub-heading {
  color: #009889;
  font-family: 'TT Chocolates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.follow {
  color: #555;
  font-family: 'TT Chocolates';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15%;
  margin-top: 5%;
  width: 80%;
}
.logos {
  display: flex;
  align-items: center;
  margin-left: 13%;
  margin-top: 5%;
  width: 80%;
  padding-bottom: 20%;
}
.WhoWe {
  padding-top: 5%;
  margin-left: 15%;
  width: 70%;
}
.WhoWe h1 {
  color: #000;
  font-family: 'Goudy Old Style';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.WhoWe .line {
  border-radius: 3.5px;
  background: #009889;
  height: 3px;
  width: 8rem;
}
.text-div {
  width: 100%;
  margin-left: 5%;
  margin-top: 2rem;
}
.WhoWe .text-div p1 {
  color: #000;
  font-family: 'TT Chocolates';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
  background: #009889;
  height: auto;
  width: 35%;
  text-align: center;
  color: #000;
  font-family: 'Goudy Old Style';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.Name {
  color: #fff;
  font-family: 'Goudy Old Style';
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}
.designation {
  color: #d2d2d2;
  font-family: 'Goudy Old Style';
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about {
  color: #fff;
  font-family: 'TT Chocolates';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.footer {
  width: 94%;
  position: relative;
  height: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  z-index: 999;
}
.image {
  height: 22rem;
}
.content {
  font-size: 55px;
  font-family: 'freight-big-pro';
}
.below-image {
  background-color: #343436;
}
.text-div-below-image p1 {
  font-size: 20px;
}
.buttonBelow {
  background: #d84e40;
  height: auto;
  width: 70%;
  text-align: center;
  color: #fff;
  font-family: 'Goudy Old Style';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.answer-content {
  transition: height 0.3s ease;
}
@media (max-width: 1700px) {
  .sub-heading {
    font-size: 19px;
  }
  .sub-heading-content {
  margin-top: -15%;
}
  .WhoWe .text-div p1 {
    font-size: 20px;
  }
  .follow {
    font-size: 24px;
  }
  .WhoWe h1 {
    font-size: 20px;
  }
  .AboutUsHeader .link {
    font-size: 18px;
  }
  .AboutUsHeader .header-content {
    padding-top: 10%;
  }
  .heading-about {
    font-size: 57px;
  }
  .text-heading {
    font-size: 20px;
  }
  .Name {
    font-size: 32px;
  }
  .designation {
    font-size: 24px;
  }
  .about {
    font-size: 20px;
  }
  .image {
    height: 20rem;
  }
  .content {
    font-size: 52px;
  }
}
@media (max-width: 1590px) {
  .sub-heading {
    font-size: 17px;
  }
  .WhoWe .text-div p1 {
    font-size: 18px;
  }
    .sub-heading-content {
  margin-top: -20%;
}
  .follow {
    font-size: 22px;
  }
  .WhoWe h1 {
    font-size: 18px;
  }
  .AboutUsHeader .link {
    font-size: 16px;
  }
  .AboutUsHeader .header-content {
    padding-top: 10%;
  }
  .heading-about {
    font-size: 55px;
  }
  .text-heading {
    font-size: 22px;
  }
  .Name {
    font-size: 30px;
  }
  .designation {
    font-size: 22px;
  }
  .about {
    font-size: 18px;
  }
  .button {
    width: 40%;
  }
  .image {
    height: 18rem;
  }
  .content {
    font-size: 48px;
  }
}

@media (max-width: 1400px) {
  .sub-heading-content {
    width: 20%;
  }
  .sub-heading {
    font-size: 17px;
  }
    .sub-heading-content {
  margin-top: -25%;
}
  .follow {
    font-size: 22px;
  }
  .AboutUsHeader .link {
    font-size: 16px;
  }
  .AboutUsHeader .header-content {
    padding-top: 10%;
  }
  .heading-about {
    font-size: 55px;
  }
  .text-heading {
    font-size: 18px;
  }
  .button {
    width: 45%;
  }
  .image {
    height: 17rem;
  }
  .content {
    font-size: 45px;
  }
}
