.AboutUsHeader {
  z-index: 1;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  width: 90%;
  top: -80px;
  margin-left: 2%;
  border-radius: 25px;
  background: url(../Assets/AboutUsHeader.png) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 24.9px 0px rgba(0, 0, 0, 0.5);
}
.AboutUsHeader .link {
  color: #e2e2e2;
  font-family: "TT Chocolates";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 65px;
  padding-left: 3%;
}
.AboutUsHeader .header-content {
  padding-top: 6%;
  margin-left: 45%;
  padding-bottom: 2rem;
  width: 50%;
}
.heading-about {
  color: #e2e2e2;
  font-family: Joane;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-heading {
  color: #d3d3d3;
  font-family: "TT Chocolates";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sub-heading-content {
  position: fixed;
  z-index: 99;
  margin-top: -10%;
  width: 20%;
  display: block;
  margin-left: 4%;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 4px 23.6px 0px rgba(0, 0, 0, 0.5);
}
.line-heading {
  width: 1%;
  border-radius: 3.5px;
  background: #009889;
}
.sub-heading {
  color: #009889;
  font-family: "TT Chocolates";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.follow {
  color: #555;
  font-family: "TT Chocolates";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 15%;
  margin-top: 5%;
  width: 80%;
}
.logos {
  display: flex;
  align-items: center;
  margin-left: 13%;
  margin-top: 5%;
  width: 80%;
  padding-bottom: 20%;
}
.background-div {
  background: #fff;
  width: 80%;
  display: block;
  margin-left: 20%;
  padding-bottom: 3rem;
}
.background-div-left {
  background: #fff;
  width: 80%;
  display: block;
  margin-left: 0%;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.Competitve {
  margin-left: 5%;
}
.Free {
  margin-left: 30%;
  padding-top: 1rem;
  width: 70%;
}
.gapImage {
  display: flex;
  gap: 3rem;
}
.Integrity {
  margin-left: 24%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 70%;
}
.OurTeam {
  padding-top: 5%;
  margin-left: 40%;
  width: 50%;
  padding-bottom: 5%;
}
.WhoWe,
.OurServices,
.TheAquarian {
  margin-left: 15%;
}
.WhoWe,
.OurServices,
.Competitve,
.TheAquarian {
  width: 70%;
  padding-top: 5%;
}
.Competitve h5 {
  margin-left: 15%;
}
.Competitve .text-color h1 {
  margin-left: 0%;
}
.WhoWe h1,
.OurServices h1,
.OurTeam h1,
.Free h1,
.TheAquarian h1,
.Competitve h1,
.Integrity h1 {
  color: #000;
  font-family: "Goudy Old Style";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.WhoWe .line,
.OurTeam .line,
.OurServices .line,
.TheAquarian .line,
.Competitve .line,
.Integrity .line {
  border-radius: 3.5px;
  background: #009889;
  height: 3px;
  width: 8rem;
}
.text-div {
  width: 100%;
  margin-left: 5%;
  margin-top: 2rem;
}
.OurServices .text-div,
.TheAquarian .text-div {
  width: 70%;
}
.gapImage img {
  width: 9%;
}
.text-color {
  background: #c2c2c2;
  margin-top: 3rem;
  margin-left: 10%;
  width: 80%;
}
.text-color p {
  font-size: 20px;
}
.Integrity .text-color {
  width: 64%;
}
.text-div-color {
  background: #c2c2c2;
  padding-top: 3rem;
  margin-left: 3rem;
  padding-bottom: 3rem;
  width: 90%;
}
.WhoWe .text-div p1,
.OurServices .text-div p1,
.OurTeam .text-div p1,
.TheAquarian .text-div p1,
.text-div-color p1 {
  color: #000;
  font-family: "TT Chocolates";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
  background: #009889;
  height: auto;
  width: 35%;
  text-align: center;
  color: #000;
  font-family: "Goudy Old Style";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.team-background {
  display: flex;
  position: relative;
  background: #343436;
  margin-left: 40%;
  margin-bottom: 3rem;
  width: 50%;
  gap: 3rem;
}
.team-background-outer {
  display: flex;
  position: relative;
  background: #343436;
  margin-left: 32%;
  margin-top: 3rem;
  width: 40%;
  gap: 3rem;
}
.imageTeam {
  width: 25%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: -13%;
}
.textOurTeam {
  width: 70%;
  padding-top: 5%;
}
.Name {
  color: #fff;
  font-family: "Goudy Old Style";
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}
.designation {
  color: #d2d2d2;
  font-family: "Goudy Old Style";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about {
  color: #fff;
  font-family: "TT Chocolates";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.footer {
  width: 94%;
  position: relative;
  height: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  z-index: 999;
}
.image {
  height: 22rem;
}
.content {
  font-size: 55px;
  font-family: "freight-big-pro";
}
.below-image {
  background-color: #343436;
}
.text-div-below-image p1 {
  font-size: 20px;
}
.buttonBelow {
  background: #d84e40;
  height: auto;
  width: 70%;
  text-align: center;
  color: #fff;
  font-family: "Goudy Old Style";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.answer-content {
  transition: height 0.3s ease;
}
.WhoWe h5,
.Competitve h5,
.OurServices h5,
.OurTeam h5,
.TheAquarian h5 {
  color: #000;
  font-family: "Goudy Old Style";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1700px) {
  .sub-heading {
    font-size: 19px;
  }
  .sub-heading-content {
    margin-top: -13%;
  }
  .WhoWe .text-div p1,
  .OurServices .text-div p1,
  .TheAquarian .text-div p1,
  .OurTeam .text-div p1,
  .text-div-color p1 {
    font-size: 20px;
  }
  .follow {
    font-size: 24px;
  }
  .text-color p {
    font-size: 19px;
  }
  .WhoWe h1,
  .Free h1,
  .OurServices h1,
  .OurTeam h1,
  .TheAquarian h1,
  .Competitve h1,
  .Integrity h1 {
    font-size: 28px;
  }
  .AboutUsHeader .link {
    font-size: 18px;
  }
  .AboutUsHeader .header-content {
    padding-top: 10%;
  }
  .heading-about {
    font-size: 57px;
  }
  .text-heading {
    font-size: 20px;
  }
  .Name {
    font-size: 32px;
  }
  .designation {
    font-size: 24px;
  }
  .about {
    font-size: 20px;
  }
  .image {
    height: 20rem;
  }
  .content {
    font-size: 52px;
  }
}
@media (max-width: 1590px) {
  .sub-heading {
    font-size: 17px;
  }
  .WhoWe .text-div p1,
  .OurServices .text-div p1,
  .OurTeam .text-div p1,
  .TheAquarian .text-div p1,
  .text-div-color p1 {
    font-size: 18px;
  }
  .sub-heading-content {
    margin-top: -16%;
  }
  .follow {
    font-size: 22px;
  }
  .WhoWe h1,
  .Competitve h1,
  .OurServices h1,
  .OurTeam h1,
  .TheAquarian h1,
  .Free h1,
  .Integrity h1 {
    font-size: 26px;
  }
  .text-color p {
    font-size: 18.5px;
  }
  .AboutUsHeader .link {
    font-size: 16px;
  }
  .AboutUsHeader .header-content {
    padding-top: 10%;
  }
  .heading-about {
    font-size: 55px;
  }
  .text-heading {
    font-size: 22px;
  }
  .Name {
    font-size: 30px;
  }
  .designation {
    font-size: 22px;
  }
  .about {
    font-size: 18px;
  }
  .button {
    width: 40%;
  }
  .image {
    height: 18rem;
  }
  .content {
    font-size: 48px;
  }
}

@media (max-width: 1400px) {
  .sub-heading-content {
    width: 20%;
  }
  .sub-heading {
    font-size: 17px;
  }
  .text-color p {
    font-size: 18px;
  }
  .sub-heading-content {
    margin-top: -19%;
  }
  .follow {
    font-size: 22px;
  }
  .AboutUsHeader .link {
    font-size: 16px;
  }
  .AboutUsHeader .header-content {
    padding-top: 10%;
  }
  .heading-about {
    font-size: 55px;
  }
  .text-heading {
    font-size: 18px;
  }
  .button {
    width: 45%;
  }
  .image {
    height: 17rem;
  }
  .content {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
  }
  .AboutUsHeader {
    width: 94%;
    margin-left: 3%;
  }
  .AboutUsHeader .link {
    font-size: 13px;
  }
  .heading-about {
    font-size: 28px;
  }
  .text-heading {
    font-size: 14px;
  }
  .text-color p {
    font-size: 16px;
  }
  .WhoWe h1,
  .Competitve h1,
  .OurServices h1,
  .OurTeam h1,
  .TheAquarian h1,
  .Free h1,
  .Integrity h1 {
    font-size: 20px;
  }
  .AboutUsHeader .header-content {
    padding-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .background-div {
    background: none;
    width: 100%;
    margin-left: 0%;
    padding-bottom: 0rem;
  }
  .background-div-left {
    background: none;
    width: 100%;
    margin-right: 0%;
    margin-top: 0rem;
    padding-bottom: 0rem;
  }
  .WhoWe .line,
  .OurServices .line,
  .Competitve .line,
  .TheAquarian .line,
  .OurTeam .line,
  .Integrity .line {
    width: 4rem;
  }
  .text-div-color img {
    width: 30%;
  }
  .text-div-color {
    width: 90%;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .text-color,
  .Integrity .text-color {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .Integrity {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .Free {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0rem;
    width: 90%;
  }
  .Competitve {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .gapImage {
    gap: 1rem;
  }
  .Competitve h5 {
    margin-left: 5%;
  }

  .WhoWe,
  .OurServices,
  .TheAquarian {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .button {
    width: 80%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
  .OurTeam {
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 2rem;
  }
  .text-div {
    width: 95%;
  }
  .OurServices .text-div,
  .TheAquarian .text-div {
    width: 95%;
  }
  .team-background {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    width: 95%;
  }
  .team-background-outer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width: 95%;
  }
  .WhoWe h5,
  .Competitve h5,
  .OurServices h5,
  .OurTeam h5,
  .TheAquarian h5 {
    font-size: 30px;
  }
  .imageTeam {
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .Name {
    text-align: center;
  }
  .designation {
    text-align: center;
  }
  .about {
    text-align: center;
  }
  .textOurTeam {
    width: 90%;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
