.ContactUsHeader {
  z-index: 1;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  width: 90%;
  top: -40px;
  margin-left: 2%;
  border-radius: 25px;
  background: url(../Assets/map.png) lightgray 20% / cover no-repeat;
  box-shadow: 0px 4px 24.9px 0px rgba(0, 0, 0, 0.5);
}
.ContactUsHeader .link {
  color: #e2e2e2;
  font-family: "TT Chocolates";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 4%;
  padding-left: 3%;
}
.ContactUsHeader .header-content {
  padding-top: 6%;
  margin-left: 52%;
  padding-bottom: 2rem;
  width: 50%;
}
.address-content {
  position: absolute;
  z-index: 1;
  margin-top: -10%;
  width: 20%;
  display: block;
  margin-left: 4%;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 4px 23.6px 0px rgba(0, 0, 0, 0.5);
}
.address-heading {
  color: #009889;
  font-family: "TT Chocolates";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.8rem;
}

.registration-form {
  width: 50%;
  margin: 5rem 30%;
  margin-bottom: 10rem;
}
.form-row {
  display: flex;
  justify-content: gap-between;
  gap: 20%;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select,
.lastname {
  width: 23.8rem;
  padding: 10px;
  border: 1px solid #009889;
  border-radius: 5px;
  margin-bottom: 10px;
}
textarea {
  width: 59.6rem;
  padding: 10px;
  border: 1px solid #009889;
  border-radius: 5px;
  margin-bottom: 10px;
}
.error {
  border-color: #b90124;
  background-color: "#ffe6e6";
  width: 23.8rem;
}
.registration-form button {
  background-color: #009889;
  color: #fff;
  padding: 20px 60px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.error-message {
  color: #b90124;
  font-size: 12;
}

@media (max-width: 1700px) {
  .address-content {
    margin-top: -10%;
  }
  input,
  select,
  .lastname,
  .error {
    width: 20.8rem;
  }
  textarea {
    width: 52.4rem;
  }
}
@media (max-width: 1590px) {
  .address-content {
    margin-top: -8%;
  }
  input,
  select,
  .error,
  .lastname {
    width: 19.8rem;
  }
  textarea {
    width: 50rem;
  }
}
@media (max-width: 1400px) {
  .address-content {
    margin-top: -6%;
  }
  input,
  select,
  .error,
  .lastname {
    width: 17.8rem;
  }
  textarea {
    width: 44.4rem;
  }
  .ContactUsHeader .header-content {
    margin-left: 50%;
  }
}

@media (max-width: 1300px) {
  .address-content {
    margin-top: -5%;
  }
  input,
  select,
  .error,
  .lastname {
    width: 14.8rem;
  }
  textarea {
    width: 37.4rem;
  }
  .ContactUsHeader .header-content {
    margin-left: 50%;
  }
}
@media (max-width: 1000px) {
  .address-content {
    margin-top: -3%;
  }
  input,
  select,
  .error,
  .lastname {
    width: 12.8rem;
  }
  textarea {
    width: 30.7rem;
  }
  .ContactUsHeader .header-content {
    margin-left: 50%;
  }
}
@media (max-width: 768px) {
  .registration-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .form-row {
    display: block;
    justify-content: gap-between;
    gap: 20%;
  }
  .ContactUsHeader .header-content {
    padding-top: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    width: 50%;
  }
  .ContactUsHeader {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .ContactUsHeader .link {
    padding-top: 45px;
    font-size: 14px;
  }
  input,
  select,
  .error,
  .lastname {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  .address-content {
    position: relative;
    margin-top: 0%;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
}
